We import what will serve us

In [56]:
from pandas import DataFrame, read_csv
import bigml.api
from bigml.api import BigML
import pandas as pd

In [51]:
field_importance1 = read_csv('field_importances/summarry_report_ensemble1_BigML_5db1710d7811dd7f2d0087fc_Ensemble_Field_Importances.csv')
field_importance2 = read_csv('field_importances/summarry_report_ensemble2_BigML_5db171aa5299631c82008cdc_Ensemble_Field_Importances.csv')
field_importance3 = read_csv('field_importances/summarry_report_ensemble3_BigML_5db17205e476847468009274_Ensemble_Field_Importances.csv')
field_importance4 = read_csv('field_importances/summarry_report_ensemble4_BigML_5db1737de4768474680092a4_Ensemble_Field_Importances.csv')
field_importance5 = read_csv('field_importances/summarry_report_ensemble5_BigML_5db1742e5299631c82008d25_Ensemble_Field_Importances.csv')
field_importance6 = read_csv('field_importances/summarry_report_ensemble6_BigML_5db174c57811dd7f2d00884b_Ensemble_Field_Importances.csv')

In [52]:
field_importance1

                                   Field  Importance
0                  WeightedOfLatePayment     0.22846
1   RevolvingUtilizationOfUnsecuredLines     0.21556
2                                    age     0.11136
3        NumberOfOpenCreditLinesAndLoans     0.08535
4                            MonthlyDebt     0.07562
5   NumberOfTime30-59DaysPastDueNotWorse     0.07353
6                       DisposableIncome     0.04642
7                              DebtRatio     0.04405
8           NumberRealEstateLoansOrLines     0.03094
9                          MonthlyIncome     0.02780
10                        BalancedIncome     0.02636
11                                field1     0.02624
12                    NumberOfDependents     0.00717
13  NumberOfTime60-89DaysPastDueNotWorse     0.00069
14               NumberOfTimes90DaysLate     0.00044

Maud SONET

In [6]:
fields_importances = DataFrame()
fields_importances['Field'] = field_importance1['Field']
fields_importances['Importance_ens1'] = field_importance1['Importance']
fields_importances['Importance_ens2'] = field_importance2['Importance']
fields_importances['Importance_ens3'] = field_importance3['Importance']
fields_importances['Importance_ens4'] = field_importance4['Importance']
fields_importances['Importance_ens5'] = field_importance5['Importance']
fields_importances['Importance_ens6'] = field_importance6['Importance']
fields_importances

,Field,Importance_ens1,Importance_ens2,Importance_ens3,Importance_ens4,Importance_ens5,Importance_ens6
0,WeightedOfLatePayment,0.22846,0.22337,0.22028,0.29976,0.29332,0.20481
1,RevolvingUtilizationOfUnsecuredLines,0.21556,0.21646,0.21197,0.22591,0.22442,0.15562
2,age,0.11136,0.10676,0.11167,0.11496,0.10566,0.12694
3,NumberOfOpenCreditLinesAndLoans,0.08535,0.07359,0.08420,0.07437,0.08539,0.10183
4,MonthlyDebt,0.07562,0.07186,0.07517,0.06766,0.07288,0.09339
5,NumberOfTime30-59DaysPastDueNotWorse,0.07353,0.07060,0.07089,0.04330,0.04561,0.07594
6,DisposableIncome,0.04642,0.04393,0.04554,0.03586,0.04378,0.05877
7,DebtRatio,0.04405,0.04283,0.03969,0.03567,0.03808,0.04091
8,NumberRealEstateLoansOrLines,0.03094,0.03965,0.03459,0.03349,0.03163,0.03764
9,MonthlyIncome,0.02780,0.03870,0.03343,0.03076,0.02818,0.02651
10,BalancedIncome,0.02636,0.03152,0.03143,0.02413,0.02131,0.02457
11,field1,0.02624,0.02706,0.02733,0.01414,0.00971,0.02275
12,NumberOfDependents,0.00717,0.01142,0.00926,NaN,NaN,0.01947
13,NumberOfTime60-89DaysPastDueNotWorse,0.00069,0.00132,0.00333,NaN,NaN,0.01084
14,NumberOfTimes90DaysLate,0.00044,0.00091,0.00123,NaN,NaN,NaN

In [14]:
prediction_ensemble1 = read_csv('predictions/my_predictions1.csv')
prediction_ensemble2 = read_csv('predictions/my_predictions2.csv')
prediction_ensemble3 = read_csv('predictions/my_predictions3.csv')
prediction_ensemble4 = read_csv('predictions/my_predictions4.csv')
prediction_ensemble5 = read_csv('predictions/my_predictions5.csv')
prediction_ensemble6 = read_csv('predictions/my_predictions6.csv')
prediction_ensemble1

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs,SeriousDlqin2yrs.1
0,126550,0.021277,90,0.007094,3100,21.992907,3078.007093,3100.000000,6,0,0,0,0,0,0,0,0
1,35772,0.130125,58,0.204989,18000,3689.795016,14310.204984,6000.000000,9,2,0,0,0,0,2,0,0
2,12265,0.546874,55,0.452236,7400,3346.547762,4053.452238,2466.666667,11,2,0,0,0,0,2,0,0
3,55944,0.590389,63,0.545423,5800,3163.454577,2636.545423,5800.000000,7,1,2,0,0,2,0,0,0
4,65176,0.022841,70,0.300000,0,97.000000,0.000000,0.000000,10,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,140491,0.303038,41,0.159878,14116,2256.840121,11859.159879,2823.200000,7,1,0,0,0,0,4,0,0
29996,36589,0.024190,71,0.177031,10500,1858.822969,8641.177031,10500.000000,14,2,1,0,0,1,0,0,0
29997,39804,1.000000,79,0.039920,500,19.960080,480.039920,500.000000,2,0,0,0,0,0,0,0,0
29998,69360,0.262211,58,0.554313,11000,6097.445684,4902.554316,3666.666667,19,3,1,0,0,1,2,0,0
29999,124740,0.026587,61,0.338565,8346,2825.661437,5520.338563,2782.000000,9,1,0,0,0,0,2,0,0

In [15]:
for df in [prediction_ensemble1, prediction_ensemble2, prediction_ensemble3, prediction_ensemble4, prediction_ensemble5, prediction_ensemble6]:
    df.insert(13,"error",0)

prediction_ensemble1.head(10)

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,error,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs,SeriousDlqin2yrs.1
0,126550,0.021277,90,0.007094,3100,21.992907,3078.007093,3100.000000,6,0,0,0,0,0,0,0,0,0
1,35772,0.130125,58,0.204989,18000,3689.795016,14310.204984,6000.000000,9,2,0,0,0,0,0,2,0,0
2,12265,0.546874,55,0.452236,7400,3346.547762,4053.452238,2466.666667,11,2,0,0,0,0,0,2,0,0
3,55944,0.590389,63,0.545423,5800,3163.454577,2636.545423,5800.000000,7,1,2,0,0,0,2,0,0,0
4,65176,0.022841,70,0.300000,0,97.000000,0.000000,0.000000,10,0,0,0,0,0,0,0,0,0
5,128169,0.058096,61,0.300000,0,1351.000000,0.000000,0.000000,5,1,0,0,0,0,0,0,0,0
6,89066,0.018784,36,1.913367,4166,7971.086635,-3805.086635,4166.000000,9,5,0,0,0,0,0,0,0,0
7,127788,0.000000,54,0.177666,12500,2220.822337,10279.177663,12500.000000,14,3,0,0,0,0,0,0,0,0
8,132120,0.004207,58,0.300000,0,1589.000000,0.000000,0.000000,16,1,0,0,0,0,0,0,0,0
9,51396,0.006867,50,0.312514,4450,1390.687487,3059.312513,4450.000000,4,1,0,0,0,0,0,0,0,0

In [35]:
TP_lines = (prediction_ensemble1['SeriousDlqin2yrs']==1) & (prediction_ensemble1['SeriousDlqin2yrs.1']==1)
TN_lines = ~(prediction_ensemble1['SeriousDlqin2yrs']==1) & ~(prediction_ensemble1['SeriousDlqin2yrs.1']==1)
FP_lines = ~(prediction_ensemble1['SeriousDlqin2yrs']==1) & (prediction_ensemble1['SeriousDlqin2yrs.1']==1)
FN_lines = (prediction_ensemble1['SeriousDlqin2yrs']==1) & ~(prediction_ensemble1['SeriousDlqin2yrs.1']==1)

TP = len(prediction_ensemble1.loc[TP_lines])
TN = len(prediction_ensemble1.loc[TN_lines])
FP = len(prediction_ensemble1.loc[FP_lines])
FN = len(prediction_ensemble1.loc[FN_lines])
print(f'TP={TP}')
print(f'TN={TN}')
print(f'FP={FP}')
print(f'FN={FN}')

TP=360
TN=27785
FP=197
FN=1658

In [36]:
TP_lines = (prediction_ensemble2['SeriousDlqin2yrs']==1) & (prediction_ensemble2['SeriousDlqin2yrs.1']==1)
TN_lines = ~(prediction_ensemble2['SeriousDlqin2yrs']==1) & ~(prediction_ensemble2['SeriousDlqin2yrs.1']==1)
FP_lines = ~(prediction_ensemble2['SeriousDlqin2yrs']==1) & (prediction_ensemble2['SeriousDlqin2yrs.1']==1)
FN_lines = (prediction_ensemble2['SeriousDlqin2yrs']==1) & ~(prediction_ensemble2['SeriousDlqin2yrs.1']==1)

TP = len(prediction_ensemble2.loc[TP_lines])
TN = len(prediction_ensemble2.loc[TN_lines])
FP = len(prediction_ensemble2.loc[FP_lines])
FN = len(prediction_ensemble2.loc[FN_lines])
print(f'TP={TP}')
print(f'TN={TN}')
print(f'FP={FP}')
print(f'FN={FN}')

TP=405
TN=27703
FP=282
FN=1610

In [37]:
TP_lines = (prediction_ensemble3['SeriousDlqin2yrs']==1) & (prediction_ensemble3['SeriousDlqin2yrs.1']==1)
TN_lines = ~(prediction_ensemble3['SeriousDlqin2yrs']==1) & ~(prediction_ensemble3['SeriousDlqin2yrs.1']==1)
FP_lines = ~(prediction_ensemble3['SeriousDlqin2yrs']==1) & (prediction_ensemble3['SeriousDlqin2yrs.1']==1)
FN_lines = (prediction_ensemble3['SeriousDlqin2yrs']==1) & ~(prediction_ensemble3['SeriousDlqin2yrs.1']==1)

TP = len(prediction_ensemble3.loc[TP_lines])
TN = len(prediction_ensemble3.loc[TN_lines])
FP = len(prediction_ensemble3.loc[FP_lines])
FN = len(prediction_ensemble3.loc[FN_lines])
print(f'TP={TP}')
print(f'TN={TN}')
print(f'FP={FP}')
print(f'FN={FN}')

TP=342
TN=27842
FP=204
FN=1612

In [38]:
TP_lines = (prediction_ensemble4['SeriousDlqin2yrs']==1) & (prediction_ensemble4['SeriousDlqin2yrs.1']==1)
TN_lines = ~(prediction_ensemble4['SeriousDlqin2yrs']==1) & ~(prediction_ensemble4['SeriousDlqin2yrs.1']==1)
FP_lines = ~(prediction_ensemble4['SeriousDlqin2yrs']==1) & (prediction_ensemble4['SeriousDlqin2yrs.1']==1)
FN_lines = (prediction_ensemble4['SeriousDlqin2yrs']==1) & ~(prediction_ensemble4['SeriousDlqin2yrs.1']==1)

TP = len(prediction_ensemble4.loc[TP_lines])
TN = len(prediction_ensemble4.loc[TN_lines])
FP = len(prediction_ensemble4.loc[FP_lines])
FN = len(prediction_ensemble4.loc[FN_lines])
print(f'TP={TP}')
print(f'TN={TN}')
print(f'FP={FP}')
print(f'FN={FN}')

TP=389
TN=27773
FP=230
FN=1608

In [40]:
TP_lines = (prediction_ensemble5['SeriousDlqin2yrs']==1) & (prediction_ensemble5['SeriousDlqin2yrs.1']==1)
TN_lines = ~(prediction_ensemble5['SeriousDlqin2yrs']==1) & ~(prediction_ensemble5['SeriousDlqin2yrs.1']==1)
FP_lines = ~(prediction_ensemble5['SeriousDlqin2yrs']==1) & (prediction_ensemble5['SeriousDlqin2yrs.1']==1)
FN_lines = (prediction_ensemble5['SeriousDlqin2yrs']==1) & ~(prediction_ensemble5['SeriousDlqin2yrs.1']==1)

TP = len(prediction_ensemble5.loc[TP_lines])
TN = len(prediction_ensemble5.loc[TN_lines])
FP = len(prediction_ensemble5.loc[FP_lines])
FN = len(prediction_ensemble5.loc[FN_lines])
print(f'TP={TP}')
print(f'TN={TN}')
print(f'FP={FP}')
print(f'FN={FN}')

TP=370
TN=27656
FP=286
FN=1688

In [41]:
TP_lines = (prediction_ensemble6['SeriousDlqin2yrs']==1) & (prediction_ensemble6['SeriousDlqin2yrs.1']==1)
TN_lines = ~(prediction_ensemble6['SeriousDlqin2yrs']==1) & ~(prediction_ensemble6['SeriousDlqin2yrs.1']==1)
FP_lines = ~(prediction_ensemble6['SeriousDlqin2yrs']==1) & (prediction_ensemble6['SeriousDlqin2yrs.1']==1)
FN_lines = (prediction_ensemble6['SeriousDlqin2yrs']==1) & ~(prediction_ensemble6['SeriousDlqin2yrs.1']==1)

TP = len(prediction_ensemble6.loc[TP_lines])
TN = len(prediction_ensemble6.loc[TN_lines])
FP = len(prediction_ensemble6.loc[FP_lines])
FN = len(prediction_ensemble6.loc[FN_lines])
print(f'TP={TP}')
print(f'TN={TN}')
print(f'FP={FP}')
print(f'FN={FN}')

TP=347
TN=27721
FP=252
FN=1680

# Confusion Matrix

In [53]:
df_evaluation = read_csv('predictions/my_predictions3.csv')
df_evaluation

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs,SeriousDlqin2yrs.1
0,107635,0.562935,31,0.437759,5550,2429.562239,3120.437761,5550.000000,7,1,2,0,0,2,0,0,0
1,142687,0.963725,64,0.533518,4340,2315.466484,2024.533516,4340.000000,6,1,0,0,0,0,0,0,0
2,19894,0.025860,50,0.340333,11000,3743.659667,7256.340333,2750.000000,12,2,0,0,0,0,3,0,0
3,125726,0.616112,58,0.457739,15628,7153.542263,8474.457737,5209.333333,19,2,0,0,0,0,2,0,0
4,6641,0.019204,66,0.089588,7500,671.910413,6828.089587,7500.000000,9,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,141054,0.017272,55,0.305539,5000,1527.694460,3472.305540,2500.000000,10,1,0,0,0,0,1,0,0
29996,77489,0.050496,66,0.300000,0,132.000000,0.000000,0.000000,7,0,0,0,0,0,0,0,0
29997,112258,0.541167,29,0.055688,2100,116.944313,1983.055687,2100.000000,2,0,0,0,0,0,0,0,0
29998,39435,1.000000,27,0.064624,1500,96.935376,1403.064624,1500.000000,2,0,0,0,0,0,0,0,0
29999,120589,0.565782,27,0.791559,2700,2137.208441,562.791559,2700.000000,6,1,1,0,0,1,0,0,0

In [76]:
df_evaluation_with_proba = read_csv('predictions/my_predictions3_with_probability.csv')
df_evaluation_with_proba

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs,SeriousDlqin2yrs.1,confidence,0 probability,1 probability
0,107635,0.562935,31,0.437759,5550,2429.562239,3120.437761,5550.000000,7,1,2,0,0,2,0,0,0,0.75704,0.78783,0.21217
1,142687,0.963725,64,0.533518,4340,2315.466484,2024.533516,4340.000000,6,1,0,0,0,0,0,0,0,0.97530,0.98484,0.01516
2,19894,0.025860,50,0.340333,11000,3743.659667,7256.340333,2750.000000,12,2,0,0,0,0,3,0,0,0.97626,0.98414,0.01586
3,125726,0.616112,58,0.457739,15628,7153.542263,8474.457737,5209.333333,19,2,0,0,0,0,2,0,0,0.91840,0.93657,0.06343
4,6641,0.019204,66,0.089588,7500,671.910413,6828.089587,7500.000000,9,1,0,0,0,0,0,0,0,0.99033,0.99376,0.00625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,141054,0.017272,55,0.305539,5000,1527.694460,3472.305540,2500.000000,10,1,0,0,0,0,1,0,0,0.98737,0.99167,0.00833
29996,77489,0.050496,66,0.300000,0,132.000000,0.000000,0.000000,7,0,0,0,0,0,0,0,0,0.99071,0.99353,0.00647
29997,112258,0.541167,29,0.055688,2100,116.944313,1983.055687,2100.000000,2,0,0,0,0,0,0,0,0,0.86427,0.90176,0.09825
29998,39435,1.000000,27,0.064624,1500,96.935376,1403.064624,1500.000000,2,0,0,0,0,0,0,0,0,0.83692,0.86104,0.13897
29999,120589,0.565782,27,0.791559,2700,2137.208441,562.791559,2700.000000,6,1,1,0,0,1,0,0,0,0.84843,0.88231,0.11770

In [54]:

df_evaluation.rename(columns = {list(df_evaluation)[15]:'SeriousDlqin2yrs_Actual'}, inplace=True)
df_evaluation.rename(columns = {list(df_evaluation)[16]:'SeriousDlqin2yrs_Predicted'}, inplace=True)
df_evaluation

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs_Actual,SeriousDlqin2yrs_Predicted
0,107635,0.562935,31,0.437759,5550,2429.562239,3120.437761,5550.000000,7,1,2,0,0,2,0,0,0
1,142687,0.963725,64,0.533518,4340,2315.466484,2024.533516,4340.000000,6,1,0,0,0,0,0,0,0
2,19894,0.025860,50,0.340333,11000,3743.659667,7256.340333,2750.000000,12,2,0,0,0,0,3,0,0
3,125726,0.616112,58,0.457739,15628,7153.542263,8474.457737,5209.333333,19,2,0,0,0,0,2,0,0
4,6641,0.019204,66,0.089588,7500,671.910413,6828.089587,7500.000000,9,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,141054,0.017272,55,0.305539,5000,1527.694460,3472.305540,2500.000000,10,1,0,0,0,0,1,0,0
29996,77489,0.050496,66,0.300000,0,132.000000,0.000000,0.000000,7,0,0,0,0,0,0,0,0
29997,112258,0.541167,29,0.055688,2100,116.944313,1983.055687,2100.000000,2,0,0,0,0,0,0,0,0
29998,39435,1.000000,27,0.064624,1500,96.935376,1403.064624,1500.000000,2,0,0,0,0,0,0,0,0
29999,120589,0.565782,27,0.791559,2700,2137.208441,562.791559,2700.000000,6,1,1,0,0,1,0,0,0

In [77]:

df_evaluation_with_proba.rename(columns = {list(df_evaluation_with_proba)[15]:'SeriousDlqin2yrs_Actual'}, inplace=True)
df_evaluation_with_proba.rename(columns = {list(df_evaluation_with_proba)[16]:'SeriousDlqin2yrs_Predicted'}, inplace=True)
df_evaluation_with_proba

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs_Actual,SeriousDlqin2yrs_Predicted,confidence,0 probability,1 probability
0,107635,0.562935,31,0.437759,5550,2429.562239,3120.437761,5550.000000,7,1,2,0,0,2,0,0,0,0.75704,0.78783,0.21217
1,142687,0.963725,64,0.533518,4340,2315.466484,2024.533516,4340.000000,6,1,0,0,0,0,0,0,0,0.97530,0.98484,0.01516
2,19894,0.025860,50,0.340333,11000,3743.659667,7256.340333,2750.000000,12,2,0,0,0,0,3,0,0,0.97626,0.98414,0.01586
3,125726,0.616112,58,0.457739,15628,7153.542263,8474.457737,5209.333333,19,2,0,0,0,0,2,0,0,0.91840,0.93657,0.06343
4,6641,0.019204,66,0.089588,7500,671.910413,6828.089587,7500.000000,9,1,0,0,0,0,0,0,0,0.99033,0.99376,0.00625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,141054,0.017272,55,0.305539,5000,1527.694460,3472.305540,2500.000000,10,1,0,0,0,0,1,0,0,0.98737,0.99167,0.00833
29996,77489,0.050496,66,0.300000,0,132.000000,0.000000,0.000000,7,0,0,0,0,0,0,0,0,0.99071,0.99353,0.00647
29997,112258,0.541167,29,0.055688,2100,116.944313,1983.055687,2100.000000,2,0,0,0,0,0,0,0,0,0.86427,0.90176,0.09825
29998,39435,1.000000,27,0.064624,1500,96.935376,1403.064624,1500.000000,2,0,0,0,0,0,0,0,0,0.83692,0.86104,0.13897
29999,120589,0.565782,27,0.791559,2700,2137.208441,562.791559,2700.000000,6,1,1,0,0,1,0,0,0,0.84843,0.88231,0.11770

In [57]:
# Display confusion matrix
confusion_matrix = pd.crosstab(df_evaluation['SeriousDlqin2yrs_Actual'], df_evaluation['SeriousDlqin2yrs_Predicted'], rownames=['Actual'], colnames=['Predicted'])
print (confusion_matrix)

Predicted      0    1
Actual
0          27842  204
1           1612  342

In [78]:
# Display confusion matrix
confusion_matrix_with_proba = pd.crosstab(df_evaluation_with_proba['SeriousDlqin2yrs_Actual'], df_evaluation_with_proba['SeriousDlqin2yrs_Predicted'], rownames=['Actual'], colnames=['Predicted'])
print (confusion_matrix_with_proba)

Predicted      0    1
Actual
0          27842  204
1           1612  342

In [58]:
df_evaluation['Error'] = ""
df_evaluation.head()

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs_Actual,SeriousDlqin2yrs_Predicted,Error
0,107635,0.562935,31,0.437759,5550,2429.562239,3120.437761,5550.000000,7,1,2,0,0,2,0,0,0,
1,142687,0.963725,64,0.533518,4340,2315.466484,2024.533516,4340.000000,6,1,0,0,0,0,0,0,0,
2,19894,0.025860,50,0.340333,11000,3743.659667,7256.340333,2750.000000,12,2,0,0,0,0,3,0,0,
3,125726,0.616112,58,0.457739,15628,7153.542263,8474.457737,5209.333333,19,2,0,0,0,0,2,0,0,
4,6641,0.019204,66,0.089588,7500,671.910413,6828.089587,7500.000000,9,1,0,0,0,0,0,0,0,

In [79]:
df_evaluation_with_proba['Error'] = ""
df_evaluation_with_proba.head()

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,...,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs_Actual,SeriousDlqin2yrs_Predicted,confidence,0 probability,1 probability,Error
0,107635,0.562935,31,0.437759,5550,2429.562239,3120.437761,5550.000000,7,1,...,0,0,2,0,0,0,0.75704,0.78783,0.21217,
1,142687,0.963725,64,0.533518,4340,2315.466484,2024.533516,4340.000000,6,1,...,0,0,0,0,0,0,0.97530,0.98484,0.01516,
2,19894,0.025860,50,0.340333,11000,3743.659667,7256.340333,2750.000000,12,2,...,0,0,0,3,0,0,0.97626,0.98414,0.01586,
3,125726,0.616112,58,0.457739,15628,7153.542263,8474.457737,5209.333333,19,2,...,0,0,0,2,0,0,0.91840,0.93657,0.06343,
4,6641,0.019204,66,0.089588,7500,671.910413,6828.089587,7500.000000,9,1,...,0,0,0,0,0,0,0.99033,0.99376,0.00625,

In [59]:
def eval_error(row):
    actual = row['SeriousDlqin2yrs_Actual']
    predicted = row['SeriousDlqin2yrs_Predicted']
    if actual == 1 and actual == predicted:
        row['Error'] = "TP"
    elif actual == 1 and predicted == 0:
        row['Error'] = "FN"
    elif actual == 0 and predicted == 1:
        row['Error'] = "FP"
    else:
        row['Error'] = "TN"
        
    return row['Error']

In [61]:
df_evaluation['Error'] = df_evaluation.apply(eval_error, axis=1)
df_evaluation

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs_Actual,SeriousDlqin2yrs_Predicted,Error
0,107635,0.562935,31,0.437759,5550,2429.562239,3120.437761,5550.000000,7,1,2,0,0,2,0,0,0,TN
1,142687,0.963725,64,0.533518,4340,2315.466484,2024.533516,4340.000000,6,1,0,0,0,0,0,0,0,TN
2,19894,0.025860,50,0.340333,11000,3743.659667,7256.340333,2750.000000,12,2,0,0,0,0,3,0,0,TN
3,125726,0.616112,58,0.457739,15628,7153.542263,8474.457737,5209.333333,19,2,0,0,0,0,2,0,0,TN
4,6641,0.019204,66,0.089588,7500,671.910413,6828.089587,7500.000000,9,1,0,0,0,0,0,0,0,TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,141054,0.017272,55,0.305539,5000,1527.694460,3472.305540,2500.000000,10,1,0,0,0,0,1,0,0,TN
29996,77489,0.050496,66,0.300000,0,132.000000,0.000000,0.000000,7,0,0,0,0,0,0,0,0,TN
29997,112258,0.541167,29,0.055688,2100,116.944313,1983.055687,2100.000000,2,0,0,0,0,0,0,0,0,TN
29998,39435,1.000000,27,0.064624,1500,96.935376,1403.064624,1500.000000,2,0,0,0,0,0,0,0,0,TN
29999,120589,0.565782,27,0.791559,2700,2137.208441,562.791559,2700.000000,6,1,1,0,0,1,0,0,0,TN

In [80]:
df_evaluation_with_proba['Error'] = df_evaluation_with_proba.apply(eval_error, axis=1)
df_evaluation_with_proba

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,...,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs_Actual,SeriousDlqin2yrs_Predicted,confidence,0 probability,1 probability,Error
0,107635,0.562935,31,0.437759,5550,2429.562239,3120.437761,5550.000000,7,1,...,0,0,2,0,0,0,0.75704,0.78783,0.21217,TN
1,142687,0.963725,64,0.533518,4340,2315.466484,2024.533516,4340.000000,6,1,...,0,0,0,0,0,0,0.97530,0.98484,0.01516,TN
2,19894,0.025860,50,0.340333,11000,3743.659667,7256.340333,2750.000000,12,2,...,0,0,0,3,0,0,0.97626,0.98414,0.01586,TN
3,125726,0.616112,58,0.457739,15628,7153.542263,8474.457737,5209.333333,19,2,...,0,0,0,2,0,0,0.91840,0.93657,0.06343,TN
4,6641,0.019204,66,0.089588,7500,671.910413,6828.089587,7500.000000,9,1,...,0,0,0,0,0,0,0.99033,0.99376,0.00625,TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,141054,0.017272,55,0.305539,5000,1527.694460,3472.305540,2500.000000,10,1,...,0,0,0,1,0,0,0.98737,0.99167,0.00833,TN
29996,77489,0.050496,66,0.300000,0,132.000000,0.000000,0.000000,7,0,...,0,0,0,0,0,0,0.99071,0.99353,0.00647,TN
29997,112258,0.541167,29,0.055688,2100,116.944313,1983.055687,2100.000000,2,0,...,0,0,0,0,0,0,0.86427,0.90176,0.09825,TN
29998,39435,1.000000,27,0.064624,1500,96.935376,1403.064624,1500.000000,2,0,...,0,0,0,0,0,0,0.83692,0.86104,0.13897,TN
29999,120589,0.565782,27,0.791559,2700,2137.208441,562.791559,2700.000000,6,1,...,0,0,1,0,0,0,0.84843,0.88231,0.11770,TN

In [81]:
df_evaluation_with_proba.to_csv('evaluation_dataset3_with_proba.csv')

In [81]:
df_evaluation.to_csv('evaluation_dataset3.csv')

In [74]:
# print(df_evaluation[df_evaluation.Error == 'FN'].SeriousDlqin2yrs_Actual.sum())
df_evaluation.groupby(['Error']).Error.count()

Error
FN     1612
FP      204
TN    27842
TP      342
Name: Error, dtype: int64

In [82]:
# print(df_evaluation[df_evaluation.Error == 'FN'].SeriousDlqin2yrs_Actual.sum())
df_evaluation_with_proba.groupby(['Error']).Error.count()

Error
FN     1612
FP      204
TN    27842
TP      342
Name: Error, dtype: int64

In [83]:
df_evaluation_with_proba

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,...,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs_Actual,SeriousDlqin2yrs_Predicted,confidence,0 probability,1 probability,Error
0,107635,0.562935,31,0.437759,5550,2429.562239,3120.437761,5550.000000,7,1,...,0,0,2,0,0,0,0.75704,0.78783,0.21217,TN
1,142687,0.963725,64,0.533518,4340,2315.466484,2024.533516,4340.000000,6,1,...,0,0,0,0,0,0,0.97530,0.98484,0.01516,TN
2,19894,0.025860,50,0.340333,11000,3743.659667,7256.340333,2750.000000,12,2,...,0,0,0,3,0,0,0.97626,0.98414,0.01586,TN
3,125726,0.616112,58,0.457739,15628,7153.542263,8474.457737,5209.333333,19,2,...,0,0,0,2,0,0,0.91840,0.93657,0.06343,TN
4,6641,0.019204,66,0.089588,7500,671.910413,6828.089587,7500.000000,9,1,...,0,0,0,0,0,0,0.99033,0.99376,0.00625,TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,141054,0.017272,55,0.305539,5000,1527.694460,3472.305540,2500.000000,10,1,...,0,0,0,1,0,0,0.98737,0.99167,0.00833,TN
29996,77489,0.050496,66,0.300000,0,132.000000,0.000000,0.000000,7,0,...,0,0,0,0,0,0,0.99071,0.99353,0.00647,TN
29997,112258,0.541167,29,0.055688,2100,116.944313,1983.055687,2100.000000,2,0,...,0,0,0,0,0,0,0.86427,0.90176,0.09825,TN
29998,39435,1.000000,27,0.064624,1500,96.935376,1403.064624,1500.000000,2,0,...,0,0,0,0,0,0,0.83692,0.86104,0.13897,TN
29999,120589,0.565782,27,0.791559,2700,2137.208441,562.791559,2700.000000,6,1,...,0,0,1,0,0,0,0.84843,0.88231,0.11770,TN

In [105]:
FP_or_FN= (df_evaluation_with_proba['Error'] == 'FN') |  (df_evaluation_with_proba['Error'] == 'FP')
df_error = df_evaluation_with_proba.loc[FP_or_FN]
df_error

,field1,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,...,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,WeightedOfLatePayment,NumberOfDependents,SeriousDlqin2yrs_Actual,SeriousDlqin2yrs_Predicted,confidence,0 probability,1 probability,Error
7,93912,0.000000,47,0.459967,14050,6462.540031,7587.459969,14050.000000,14,4,...,2,0,4,0,1,0,0.72717,0.75716,0.24284,FN
29,10533,1.025512,39,0.655335,5500,3604.344667,1895.655333,5500.000000,11,2,...,0,0,1,0,1,0,0.70390,0.75863,0.24137,FN
49,22087,1.000000,41,0.091144,4256,387.908855,3868.091145,1418.666667,2,0,...,0,5,15,2,0,1,0.60826,0.34937,0.65063,FP
74,81534,0.044924,42,1.032312,9500,9806.967686,-306.967686,2375.000000,9,6,...,0,0,1,3,1,0,0.84133,0.88574,0.11426,FN
95,84757,0.703409,38,0.035770,7016,250.964228,6765.035772,2338.666667,5,0,...,0,0,0,2,1,0,0.92256,0.94424,0.05576,FN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29929,46359,1.000000,26,0.300000,0,332.000000,0.000000,0.000000,2,0,...,0,0,0,0,1,0,0.85680,0.87880,0.12121,FN
29931,62042,0.999578,23,0.214450,1300,278.785550,1021.214450,1300.000000,3,0,...,0,0,2,0,1,0,0.57007,0.63044,0.36956,FN
29953,78131,0.557848,57,0.314969,10200,3212.685034,6987.314966,5100.000000,10,1,...,0,0,2,1,1,0,0.81153,0.84038,0.15962,FN
29966,10437,0.462418,43,1.416861,3000,4250.583138,-1250.583138,3000.000000,12,1,...,0,0,0,0,1,0,0.87234,0.90136,0.09864,FN
29977,94054,0.841448,50,0.056908,2916,165.943092,2750.056908,2916.000000,5,0,...,0,1,3,0,1,0,0.67425,0.71405,0.28595,FN