We import what will serve us

In [1]:
import pandas
from pandas import DataFrame, read_csv, to_numeric
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc, roc_auc_score
import matplotlib.pyplot as plt
import pickle
from bigml.api import BigML 
import kaggle
from import_export_json import *
from fonction_prep_gmsc import *


%matplotlib notebook

In [2]:
pandas.options.mode.chained_assignment = None

## Loading csv files as data frames

Files must be placed in the same directory as this file. Alternatively, modify the relative path to those files.

In [3]:
#!pwd
#!ls

file_kg_fulltrain = 'cs-training.csv'
file_kg_test =  'cs-test.csv'
dossier_kg_file = './'
dossier_prep_file = './prep_datasets/'
fulltrain=read_csv(dossier_kg_file +file_kg_fulltrain, index_col=0)
test=read_csv(dossier_kg_file +file_kg_test, index_col=0)

In [4]:
project = 'gmsc'
name_files = 'gmsc_files'
version = 'v1.3'

In [5]:
comp_csv_suffix = version + '.csv.bz2'
csv_suffix = version + '.csv'



filename_fulltrain = 'gmsc_fulltrain_' + comp_csv_suffix
filename_train = 'gmsc_train_' + comp_csv_suffix
filename_dev = 'gmsc_dev_' + comp_csv_suffix
filename_test = 'gmsc_test_' + comp_csv_suffix

#### We use RandomState for have a fixed seed and always split the training in the same way

In [6]:
fixed_seed=42
train, dev = train_test_split(fulltrain, test_size=0.2, random_state=fixed_seed)
data_sets=[fulltrain,train,dev,test]
filenames=[filename_fulltrain,filename_train,filename_dev,filename_test]
datasets_names=['fulltrain','train','dev','test']

In [7]:
project_data = json_load_project(project, version)
project_data['prep_data']=[]

In [9]:
project_files = json_load_project(name_files, version)
project_data['files'] = {}
project_data['files']['kaggle_files']= {'train': {'file' :'cs-training.csv', 'dossier' : dossier_kg_file}, 'test': {'file' :'cs-test.csv', 'dossier' : dossier_kg_file}}
project_data['files']['prep_files']= {}

## Correcting the values in monthly income
Set NaN to 0 in the monthly income column

In [10]:
args={'column': 'MonthlyIncome', 'value': 0}
for df in data_sets:
    remplace_fillna(df, **args)
    
project_data['prep_data'].append({'function': 'remplace_fillna', 'arguments': args})

## Creating a new column for monthly debt.

In [11]:
for df in data_sets:
    df.insert(6,"MonthlyDebt",0)
data_sets[0].head(10)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,MonthlyDebt,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,0,7,0,1,0,0.0
6,0,0.213179,74,0,0.375607,3500.0,0,3,0,1,0,1.0
7,0,0.305682,57,0,5710.000000,0.0,0,8,0,3,0,0.0
8,0,0.754464,39,0,0.209940,3500.0,0,8,0,0,0,0.0
9,0,0.116951,27,0,46.000000,0.0,0,2,0,0,0,NaN
10,0,0.189169,57,0,0.606291,23684.0,0,9,0,4,0,2.0

We calculate the monthly debt.
If the income is zero, we take the monthly debt from the debt ratio.

In [12]:

for df in data_sets:
    monthly_debt(df)
    
   


project_data['prep_data'].append({'function': 'monthly_debt', 'arguments': args}) 
data_sets[0][['MonthlyDebt','DebtRatio','MonthlyIncome']].head(10)

     MonthlyDebt  DebtRatio  MonthlyIncome
1    7323.197016   0.802982         9120.0
2     316.878123   0.121876         2600.0
3     258.914887   0.085113         3042.0
4     118.963951   0.036050         3300.0
5    1584.975094   0.024926        63588.0
6    1314.624392   0.375607         3500.0
7    5710.000000        NaN            0.0
8     734.790059   0.209940         3500.0
9      46.000000        NaN            0.0
10  14359.393699   0.606291        23684.0

# Create New column disposable income

In [13]:
for df in [fulltrain, test]:
    df.insert(7,"DisposableIncome",0)
fulltrain.head(10)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,7323.197016,0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,316.878123,0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,258.914887,0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,118.963951,0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,1584.975094,0,7,0,1,0,0.0
6,0,0.213179,74,0,0.375607,3500.0,1314.624392,0,3,0,1,0,1.0
7,0,0.305682,57,0,NaN,0.0,5710.000000,0,8,0,3,0,0.0
8,0,0.754464,39,0,0.209940,3500.0,734.790059,0,8,0,0,0,0.0
9,0,0.116951,27,0,NaN,0.0,46.000000,0,2,0,0,0,NaN
10,0,0.189169,57,0,0.606291,23684.0,14359.393699,0,9,0,4,0,2.0

In [14]:
for df in data_sets:
    disposable_income(df)
    
project_data['prep_data'].append({'function': 'disposable_income', 'arguments': {}})    
data_sets[0].head(20)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,7323.197016,1796.802984,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,316.878123,2283.121877,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,258.914887,2783.085113,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,118.963951,3181.036049,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,1584.975094,62003.024906,7,0,1,0,0.0
6,0,0.213179,74,0,0.375607,3500.0,1314.624392,2185.375608,3,0,1,0,1.0
7,0,0.305682,57,0,NaN,0.0,5710.000000,0.000000,8,0,3,0,0.0
8,0,0.754464,39,0,0.209940,3500.0,734.790059,2765.209940,8,0,0,0,0.0
9,0,0.116951,27,0,NaN,0.0,46.000000,0.000000,2,0,0,0,NaN
10,0,0.189169,57,0,0.606291,23684.0,14359.393699,9324.606301,9,0,4,0,2.0
11,0,0.644226,30,0,0.309476,2500.0,773.690525,1726.309475,5,0,0,0,0.0
12,0,0.018798,51,0,0.531529,6501.0,3455.468469,3045.531531,7,0,2,0,2.0
13,0,0.010352,46,0,0.298354,12454.0,3715.701650,8738.298350,13,0,2,0,2.0
14,1,0.964673,40,3,0.382965,13700.0,5246.617034,8453.382966,9,3,1,1,2.0
15,0,0.019657,76,0,NaN,0.0,477.000000,0.000000,6,0,1,0,0.0
16,0,0.548458,64,0,0.209892,11362.0,2384.790109,8977.209891,7,0,1,0,2.0
17,0,0.061086,78,0,NaN,0.0,2058.000000,0.000000,10,0,2,0,0.0
18,0,0.166284,53,0,0.188274,8800.0,1656.811728,7143.188272,7,0,0,0,0.0
19,0,0.221813,43,0,0.527888,3280.0,1731.472112,1548.527888,7,0,1,0,2.0
20,0,0.602794,25,0,0.065868,333.0,21.934132,311.065868,2,0,0,0,0.0

## Correcting the values in number of dependents
Set to 0 the number of dependents when not available.

In [15]:
args = {'column': 'NumberOfDependents', 'value': 0}
for df in data_sets:
    remplace_fillna(df, **args)

project_data['prep_data'].append({'function': 'process_fillna', 'arguments': args})     
data_sets[0][['NumberOfDependents']].head(10)

    NumberOfDependents
1                  2.0
2                  1.0
3                  0.0
4                  0.0
5                  0.0
6                  1.0
7                  0.0
8                  0.0
9                  0.0
10                 2.0

# Disposable Income / dept +1

Create new colomn BalancedIncomePerDependent

In [16]:
 for df in data_sets:
    df.insert(8,"BalancedIncomePerDependent",0)
fulltrain.head(10)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncomePerDependent,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,7323.197016,1796.802984,0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,316.878123,2283.121877,0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,258.914887,2783.085113,0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,118.963951,3181.036049,0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,1584.975094,62003.024906,0,7,0,1,0,0.0
6,0,0.213179,74,0,0.375607,3500.0,1314.624392,2185.375608,0,3,0,1,0,1.0
7,0,0.305682,57,0,NaN,0.0,5710.000000,0.000000,0,8,0,3,0,0.0
8,0,0.754464,39,0,0.209940,3500.0,734.790059,2765.209940,0,8,0,0,0,0.0
9,0,0.116951,27,0,NaN,0.0,46.000000,0.000000,0,2,0,0,0,0.0
10,0,0.189169,57,0,0.606291,23684.0,14359.393699,9324.606301,0,9,0,4,0,2.0

In [17]:
for df in data_sets:
    balanced_income_per_dependent(df)
    
    
project_data['prep_data'].append({'function': 'balanced_income_per_dependent', 'arguments': {}})   
data_sets[0][['BalancedIncomePerDependent']].head(20)

    BalancedIncomePerDependent
1                   598.934328
2                  1141.560939
3                  2783.085113
4                  3181.036049
5                 62003.024906
6                  1092.687804
7                     0.000000
8                  2765.209940
9                     0.000000
10                 3108.202100
11                 1726.309475
12                 1015.177177
13                 2912.766117
14                 2817.794322
15                    0.000000
16                 2992.403297
17                    0.000000
18                 7143.188272
19                  516.175963
20                  311.065868

# Create new colomn BalancedIncomePerDependent 

Create new colomn  BalancedIncome  MontlyIncome/ (NumberOfDependents +1)

In [18]:
for df in [fulltrain, test]:
    df.insert(8,"BalancedIncome",0)
fulltrain.head(10)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,BalancedIncomePerDependent,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,7323.197016,1796.802984,0,598.934328,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,316.878123,2283.121877,0,1141.560939,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,258.914887,2783.085113,0,2783.085113,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,118.963951,3181.036049,0,3181.036049,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,1584.975094,62003.024906,0,62003.024906,7,0,1,0,0.0
6,0,0.213179,74,0,0.375607,3500.0,1314.624392,2185.375608,0,1092.687804,3,0,1,0,1.0
7,0,0.305682,57,0,NaN,0.0,5710.000000,0.000000,0,0.000000,8,0,3,0,0.0
8,0,0.754464,39,0,0.209940,3500.0,734.790059,2765.209940,0,2765.209940,8,0,0,0,0.0
9,0,0.116951,27,0,NaN,0.0,46.000000,0.000000,0,0.000000,2,0,0,0,0.0
10,0,0.189169,57,0,0.606291,23684.0,14359.393699,9324.606301,0,3108.202100,9,0,4,0,2.0

In [19]:
for df in data_sets:
    balanced_income(df)

project_data['prep_data'].append({'function': 'balanced_income', 'arguments': {}})  
data_sets[0]['BalancedIncome'].head(10)

1      3040.000000
2      1300.000000
3      3042.000000
4      3300.000000
5     63588.000000
6      1750.000000
7         0.000000
8      3500.000000
9         0.000000
10     7894.666667
Name: BalancedIncome, dtype: float64

# Weighted sum of late payments

In [20]:
for df in data_sets:
    df.insert(13,"WeightedOfLatePayment",0)
fulltrain

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,BalancedIncomePerDependent,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,WeightedOfLatePayment,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,7323.197016,1796.802984,3040.000000,598.934328,13,0,6,0,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,316.878123,2283.121877,1300.000000,1141.560939,4,0,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,258.914887,2783.085113,3042.000000,2783.085113,2,1,0,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,118.963951,3181.036049,3300.000000,3181.036049,5,0,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,1584.975094,62003.024906,63588.000000,62003.024906,7,0,1,0,0,0.0
6,0,0.213179,74,0,0.375607,3500.0,1314.624392,2185.375608,1750.000000,1092.687804,3,0,1,0,0,1.0
7,0,0.305682,57,0,NaN,0.0,5710.000000,0.000000,0.000000,0.000000,8,0,3,0,0,0.0
8,0,0.754464,39,0,0.209940,3500.0,734.790059,2765.209940,3500.000000,2765.209940,8,0,0,0,0,0.0
9,0,0.116951,27,0,NaN,0.0,46.000000,0.000000,0.000000,0.000000,2,0,0,0,0,0.0
10,0,0.189169,57,0,0.606291,23684.0,14359.393699,9324.606301,7894.666667,3108.202100,9,0,4,0,0,2.0
11,0,0.644226,30,0,0.309476,2500.0,773.690525,1726.309475,2500.000000,1726.309475,5,0,0,0,0,0.0
12,0,0.018798,51,0,0.531529,6501.0,3455.468469,3045.531531,2167.000000,1015.177177,7,0,2,0,0,2.0
13,0,0.010352,46,0,0.298354,12454.0,3715.701650,8738.298350,4151.333333,2912.766117,13,0,2,0,0,2.0
14,1,0.964673,40,3,0.382965,13700.0,5246.617034,8453.382966,4566.666667,2817.794322,9,3,1,0,1,2.0
15,0,0.019657,76,0,NaN,0.0,477.000000,0.000000,0.000000,0.000000,6,0,1,0,0,0.0
16,0,0.548458,64,0,0.209892,11362.0,2384.790109,8977.209891,3787.333333,2992.403297,7,0,1,0,0,2.0
17,0,0.061086,78,0,NaN,0.0,2058.000000,0.000000,0.000000,0.000000,10,0,2,0,0,0.0
18,0,0.166284,53,0,0.188274,8800.0,1656.811728,7143.188272,8800.000000,7143.188272,7,0,0,0,0,0.0
19,0,0.221813,43,0,0.527888,3280.0,1731.472112,1548.527888,1093.333333,516.175963,7,0,1,0,0,2.0
20,0,0.602794,25,0,0.065868,333.0,21.934132,311.065868,333.000000,311.065868,2,0,0,0,0,0.0
21,0,0.200923,43,0,0.430046,12300.0,5289.569957,7010.430043,12300.000000,7010.430043,10,0,2,0,0,0.0
22,1,0.025656,38,0,0.475841,3000.0,1427.524158,1572.475842,1000.000000,524.158614,7,0,1,0,0,2.0
23,0,1.000000,39,0,0.241104,2500.0,602.758897,1897.241103,2500.000000,1897.241103,4,0,0,0,0,0.0
24,0,0.075427,32,0,0.085512,7916.0,676.914488,7239.085512,7916.000000,7239.085512,6,0,0,0,0,0.0
25,0,0.046560,58,0,0.241622,2416.0,583.758378,1832.241622,2416.000000,1832.241622,9,0,1,0,0,0.0
26,1,0.392248,50,0,1.595253,4676.0,7459.404749,-2783.404749,2338.000000,-1391.702374,14,0,3,0,0,1.0
27,0,0.052436,58,0,0.097672,8333.0,813.902326,7519.097674,8333.000000,7519.097674,22,0,1,0,0,0.0
28,0,0.034421,69,0,0.042383,2500.0,105.957617,2394.042382,1250.000000,1197.021191,17,0,0,0,0,1.0
29,0,0.452516,24,0,0.011761,3400.0,39.988240,3360.011760,3400.000000,3360.011760,1,0,0,0,0,0.0
30,0,0.392995,58,2,0.436103,5500.0,2398.563899,3101.436101,5500.000000,3101.436101,15,0,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149971,0,0.025449,58,0,0.253855,15500.0,3934.746145,11565.253855,5166.666667,3855.084618,7,0,2,0,0,2.0
149972,0,0.058001,83,0,0.013997,5000.0,69.986005,4930.013995,5000.000000,4930.013995,6,0,0,0,0,0.0
149973,0,0.071273,42,0,0.008638,6945.0,59.991361,6885.008639,3472.500000,3442.504319,3,0,0,0,0,1.0
149974,0,1.026395,44,0,0.494819,5500.0,2721.505182,2778.494818,2750.000000,1389.247409,7,0,1,0,0,1.0
149975,0,0.962721,61,2,0.603479,5000.0,3017.396520,1982.603480,5000.000000,1982.603480,11,0,1,0,0,0.0
149976,0,0.022088,58,0,NaN,0.0,2716.000000,0.000000,0.000000,0.000000,8,0,2,0,0,0.0
149977,0,0.000627,76,0,NaN,0.0,60.000000,0.000000,0.000000,0.000000,5,0,0,0,0,0.0
149978,0,0.236450,29,0,NaN,0.0,349.000000,0.000000,0.000000,0.000000,3,0,0,0,0,0.0
149979,0,0.917635,52,2,0.259496,2500.0,648.740505,1851.259495,2500.000000,1851.259495,4,0,0,0,0,0.0
149980,1,0.224711,55,0,0.057235,8700.0,497.942769,8202.057231,8700.000000,8202.057231,7,0,0,0,0,0.0
149981,0,0.067644,64,0,0.254976,5525.0,1408.745024,4116.254976,5525.000000,4116.254976,12,0,1,0,0,0.0
149982,0,0.810012,43,0,0.121752,6849.0,833.878249,6015.121751,1369.800000,1203.024350,4,0,0,0,0,4.0
149983,0,0.021046,37,0,0.250272,2760.0,690.749729,2069.250271,690.000000,517.312568,8,0,0,0,0,3.0
149984,0,0.002485,82,0,0.000800,5000.0,3.999200,4996.000800,5000.000000,4996.000800,5,0,0,0,0,0.0
149985,0,0.037548,84,0,NaN,0.0,25.000000,0.000000,0.000000,0.000000,5,0,0,0,0,0.0
149986,0,0.954409,26,0,0.324962,1950.0,633.675038,1316.324962,1950.000000,1316.324962,4,0,0,0,0,0.0
149987,0,0.168102,49,0,0.080384,5000.0,401.919615,4598.080385,2500.000000,2299.040193,16,0,0,0,0,1.0
149988,0,1.000000,28,0,0.055692,3249.0,180.944309,3068.055691,3249.000000,3068.055691,3,1,0,0,0,0.0
149989,0,0.902051,31,1,0.347924,7515.0,2614.652076,4900.347924,7515.000000,4900.347924,10,0,1,0,0,0.0
149990,0,0.013356,62,0,0.001408,9233.0,12.998596,9220.001404,2308.250000,2305.000351,4,0,0,0,0,3.0
149991,0,0.055518,46,0,0.609779,4335.0,2643.390222,1691.609778,1445.000000,563.869926,7,0,1,0,0,2.0
149992,0,0.104112,59,0,0.477658,10316.0,4927.522342,5388.477658,10316.000000,5388.477658,10,0,2,0,0,0.0
149993,0,0.871976,50,0,NaN,0.0,4132.000000,0.000000,0.000000,0.000000,11,0,1,0,0,3.0
149994,0,1.000000,22,0,0.000000,820.0,0.000000,820.000000,820.000000,820.000000,1,0,0,0,0,0.0
149995,0,0.385742,50,0,0.404293,3400.0,1374.595707,2025.404293,3400.000000,2025.404293,7,0,0,0,0,0.0
149996,0,0.040674,74,0,0.225131,2100.0,472.774869,1627.225131,2100.000000,1627.225131,4,0,1,0,0,0.0
149997,0,0.299745,44,0,0.716562,5584.0,4001.283436,1582.716564,1861.333333,527.572188,4,0,1,0,0,2.0
149998,0,0.246044,58,0,NaN,0.0,3870.000000,0.000000,0.000000,0.000000,18,0,1,0,0,0.0
149999,0,0.000000,30,0,0.000000,5716.0,0.000000,5716.000000,5716.000000,5716.000000,4,0,0,0,0,0.0
150000,0,0.850283,64,0,0.249908,8158.0,2038.750092,6119.249908,8158.000000,6119.249908,8,0,2,0,0,0.0

In [21]:
for df in data_sets: 
    weighted_of_late_payment(df)
    
project_data['prep_data'].append({'function': 'weighted_of_late_payment', 'arguments': args})
data_sets[0][['WeightedOfLatePayment']].head(10)

    WeightedOfLatePayment
1                       2
2                       0
3                       4
4                       0
5                       1
6                       0
7                       0
8                       0
9                       0
10                      0

In [22]:
data_sets[0].head(10)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,MonthlyDebt,DisposableIncome,BalancedIncome,BalancedIncomePerDependent,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,WeightedOfLatePayment,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,7323.197016,1796.802984,3040.000000,598.934328,13,0,6,2,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,316.878123,2283.121877,1300.000000,1141.560939,4,0,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,258.914887,2783.085113,3042.000000,2783.085113,2,1,0,4,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,118.963951,3181.036049,3300.000000,3181.036049,5,0,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,1584.975094,62003.024906,63588.000000,62003.024906,7,0,1,1,0,0.0
6,0,0.213179,74,0,0.375607,3500.0,1314.624392,2185.375608,1750.000000,1092.687804,3,0,1,0,0,1.0
7,0,0.305682,57,0,NaN,0.0,5710.000000,0.000000,0.000000,0.000000,8,0,3,0,0,0.0
8,0,0.754464,39,0,0.209940,3500.0,734.790059,2765.209940,3500.000000,2765.209940,8,0,0,0,0,0.0
9,0,0.116951,27,0,NaN,0.0,46.000000,0.000000,0.000000,0.000000,2,0,0,0,0,0.0
10,0,0.189169,57,0,0.606291,23684.0,14359.393699,9324.606301,7894.666667,3108.202100,9,0,4,0,0,2.0

# Replace the outlier of DebtRatio by 0.3

In [23]:
args = {'debt_value': 0.3}
for df in data_sets:
    debt_ratio_ok(df, **args)
    
    
project_data['prep_data'].append({'function': 'debt_ratio_outlier', 'arguments': args})
data_sets[0]['DebtRatio'].head(10)

1     0.802982
2     0.121876
3     0.085113
4     0.036050
5     0.024926
6     0.375607
7     0.300000
8     0.209940
9     0.300000
10    0.606291
Name: DebtRatio, dtype: float64

# Rearrange columns

We test 6 different configurations

In [27]:
for i in range(4):
    data_sets[i].to_csv(dossier_prep_file+filenames[i],header=True,index_label='Id')
    project_data['files']['prep_files'][datasets_names[i]] = { 'dossier': dossier_prep_file, 'file_name': filenames[i]}
    
project_files

{}

In [28]:
json_save_project(project_data, project, version)
project_data

{'prep_data': [{'function': 'remplace_fillna',
   'arguments': {'column': 'MonthlyIncome', 'value': 0}},
  {'function': 'monthly_debt',
   'arguments': {'column': 'MonthlyIncome', 'value': 0}},
  {'function': 'disposable_income', 'arguments': {}},
  {'function': 'process_fillna',
   'arguments': {'column': 'NumberOfDependents', 'value': 0}},
  {'function': 'balanced_income_per_dependent', 'arguments': {}},
  {'function': 'balanced_income', 'arguments': {}},
  {'function': 'weighted_of_late_payment',
   'arguments': {'column': 'NumberOfDependents', 'value': 0}},
  {'function': 'debt_ratio_outlier', 'arguments': {'debt_value': 0.3}}],
 'files': {'kaggle_files': {'train': {'file': 'cs-training.csv',
    'dossier': './'},
   'test': {'file': 'cs-test.csv', 'dossier': './'}},
  'prep_files': {'fulltrain': {'dossier': './prep_datasets/',
    'file_name': 'gmsc_fulltrain_v1.3.csv.bz2'},
   'train': {'dossier': './prep_datasets/',
    'file_name': 'gmsc_train_v1.3.csv.bz2'},
   'dev': {'dossier': './prep_datasets/',
    'file_name': 'gmsc_dev_v1.3.csv.bz2'},
   'test': {'dossier': './prep_datasets/',
    'file_name': 'gmsc_test_v1.3.csv.bz2'}}}}

Maud SONET